.states__container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.states__dropdown {
    display: flex;
    column-gap: 30px;
}

.states__select {
    height: 40px;
    width: 200px;
}

.states__select--disable {
    background-color: #ededed;
    cursor: not-allowed;
    color: rgb(182, 181, 181);
    border: 1px solid rgb(221, 217, 217);
}

.states__content {
    font-weight: 500;
    font-size: 18px;
}

.states__content > span:first-child {
    font-size: 22px;
}

.states__content > span:last-child {
    color: rgb(182, 181, 181);
    font-size: 18px;
}
